 body 
{
  padding-top: 50px;
  background-color: black;
  overflow: hidden;
}

.starter-template 
{
  padding: 40px 15px;
  text-align: center;
}

.navbar-brand
{
	font-family: 'Orbitron', sans-serif;
	font-weight: bolder;
	font-size: 22px;
}

.nav
{
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
}

.skills
{
	color: white;
	padding-top: 40px;
	text-align: center;
}

.skills h2
{
	font-family: 'Press Start 2P', cursive;
}

.navbar
{
	vertical-align: top;
}

.bio img
{
	border-radius: 100%;
	border-style: dashed;
	border-width: 5px;
	border-color: grey;
	text-align: center;
	padding: 0px;
}

.bio h1
{
	padding-top: 0px;

    font-family: 'Press Start 2P', cursive;

    /*font-family: 'Revalia', cursive;*/

    /*font-family: 'Josefin Sans', sans-serif;*/

    /*font-family: 'Shadows Into Light', cursive;*/

    /*font-family: 'Orbitron', sans-serif;*/

}

.bio p
{
	text-align: justify;
	font-size: 22px;
	padding-top: 25px;
	padding-left: 0px;
	line-height: 1.8em;

    /*font-family: 'Revalia', cursive;*/

    /*font-family: 'Josefin Sans', sans-serif;*/

    font-family: 'Orbitron', sans-serif;


}

.bio
{
	padding-top: 0px;
	color: white;

}

.badges
{
	font-size: 80px;
	text-align: center;
	padding-left: 0px;
	color: white;
	/*border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 4px;
	background-color: #fffafa;
	box-shadow: 10px 10px 5px #888888;*/
}

.header
{
	/*background-color: black;*/
	padding-top: 50px;
	padding-bottom: 0px;
}

section {
    float: left;
    display: block;
    height: 100%;
    /*padding: 75px 0 0 0;*/
    margin: 0;
}



/*Setting the position of the Arrows for HorizonScroll*/

.horizon-prev, .horizon-next {
    position: fixed;
    top: 50%;
    margin-top: -24px;
    z-index: 9999;
}

.horizon-prev {
    left: 20px;
}

.horizon-next {
    right: 20px;
}